.news-logo img {
  width: 310px;
  height: 112px;
  display: block;
  margin: 20px auto;
  margin-bottom: 30px;
}
.news {
  margin: 0 130px;
}
.news-intro {
  background-color: #efefef;
  padding: 38px 17.7%;
}
.news-intro-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.news-intro-description {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 19px;
  margin-top: 18px;
}
.card-list {
  display: flex;
  margin-top: 40px;
}
@media only screen and (max-width: 1250px) {
  .card-list {
    flex-wrap: wrap;
  }
  .news-intro {
    padding: 38px 10%;
  }
}
@media only screen and (max-width: 1024px) {
  .news {
    margin: 0 100px;
  }
}
@media only screen and (max-width: 600px) {
  .news {
    margin: 0 50px;
  }
}
@media only screen and (max-width: 450px) {
  .news {
    margin: 0 40px;
  }
  .news-intro {
    padding: 50px 10%;
  }
  .news-logo img {
    width: 210px;
    height: 75px;
  }
  .news-intro-description{
    font-size: 14px;
  }

}
